body{
    text-align: center;
    background-color: crimson;
    margin-top: 2%;
    color: darkblue;
    font-weight: bold;
}
h1{
    font-size: 60px;
    /*background: -webkit-radial-gradient(rgb(23, 231, 23), yellow , rgb(126, 245, 245) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    background-image: linear-gradient(to right, rgb(23, 231, 23),yellow , rgb(126, 245, 245) 100%); 
}  
.animal-images{
    display: inline-block;
    width: 300px; 
    margin: 2%;   
}
p{
    font-size: 38px;
}
.button, .input, select{
    font-weight: bold;
    background-color: bisque;
    color: darkblue;
    font-size: 16px;
    margin: 5px 30px;
}

