body, *{
    text-align: center;
    margin-top: 0;
    background-color: rgb(39, 38, 38);
}   
h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: rgb(166, 250, 32);
}
h2{
    font-family: 'Pacifico', cursive;
    color: rgb(166, 250, 32);
}
input, .start, .restart{
    width: 12%;
    background-color: rgb(112, 239, 248);
    color: navy;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 15px;
    height: 25px;
    box-shadow: 0 9px #999;
    box-sizing: border-box;
}
.start, .restart{
    margin:0 0 0 20px ;
}
input:hover, .start:hover, .restart:hover{
    background-color: rgb(216, 9, 106);
    color: white;
}
.start:active, .restart:active{
    background-color: plum;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
p, .won-l, .won-s{
    font-size: 2rem;
    color:white;
    margin: 0;
}
.draw{
    margin: 14px 0;
    padding: 4px 0;
}
.s-l-keys{
    display: inline-block;
    border-top: 2px solid green;    
}
.s-key{    
    float: left;
    border-right: 2px solid green;
}
.l-key{    
    float: right;
}
canvas{
    box-sizing: border-box;
    width: 27rem; 
    font-size: 100%;
    height: 70%;   
}
/* Media querry*/
@media screen and (min-width:100px) and (max-width:1200px) {
.s-key, .s-l-keys{
    border-right: none;
    border-top: none;
    float: none;
    margin-bottom: 0;
}
.l-key{
    border-top: 5px solid green !important;
}
.rotate{
    padding: 10%;
}
.draw{
    margin: 20px 0;
}
.start, .restart{
    width:  30%;
    margin: 0 0 10px 0;
    display: flex;
    flex-flow: column wrap;
    height: 40px;
    justify-content: center;
}
input{
    float: right;
    width: 35%;
    margin: 10px 0;
}
}